<%- include('../partials/header') %>

<form action="/skills/<%= skill.name %>?_method=PUT" method="POST" autocomplete="off">
    <label for="name">Skill Name</label>
    <input type="text" name="name" value="<%= skill.name %>"><br>
    <label for="type">Skill Type</label>
    <input type="text" name="type" value="<%= skill.type %>"><br>
    <label for="level">Skill Level</label>
    <input type="text" name="level" value="<%= skill.level %>"><br>
    <button type="submit">Update Skill</button>
</form>

<%- include('../partials/footer') %>