<%- include('../partials/header') %>
    
        <hgroup>
          <h1><%= skill.name %></h1>
          <h2><strong><%= skill.level %></strong> - <small><%= skill.type %></small></h2>
          <a href="/skills/<%= skill.name %>">Edit Skill</a>
        </hgroup>
    
<%- include('../partials/footer') %>
