<%- include('../partials/header') %>
    
    <h1><%= skill.name %></h1>
    <h2>Skill Level: <%= skill.level %> <br>
    <h2>Skill Type: <%= skill.type %></h2>

    <form action="/skills/<%= skill.name %>?_method=DELETE" method="POST">
        <button type="submit">Delete Skill</button>
    </form> 
    
<%- include('../partials/footer') %>
